.slideshow-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 800px;
}

img {
    width: 800px;
}